

/* Reset CSS completo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

/* Removendo estilos padrão de elementos de formulário */
button, input, select, textarea {
    all: unset;
    font-family: inherit;
}

/* Ajuste para listas */
ul, ol {
    list-style: none;
}

/* Removendo estilos padrão de links */
a {
    text-decoration: none;
    color: inherit;
}

/* Garantindo que as imagens não extrapolem os contêineres */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Normalizando tipografia */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* Melhorando a acessibilidade para foco de teclado */
*:focus {
    outline: none;
}

/* Definindo um comportamento uniforme para tabelas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

:root {

   --corPrincipal: #d1972b;
   --corFundo: #ffe8c8;
   --corDestaques: #45F9C6;
   --corBordas: green;
   --corBordasSecundarias: #e5ff00;
   --corTextoVerde: green;
   --corTextoCinza: rgb(105, 105, 105);
   --corTextoBranco: #fffefe;
   --corTextoAmarelo: #d1972b;
    --corTextoPreto: #1c1c1c;
}




body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100dvw;
    height: 100dvh;

    background-color: var(--corFundo);

    font-family: "Quicksand", serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;

}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;

    width: 100%;
    height: 100%;

    padding-top: 2em;

    
}