.ticket-pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border: 2px solid var(--corBordas);
    border-radius: 5px;

    width: 600px;
    height: auto;

    text-align: center;
    padding: 1em;

    & h2 {
        width: 100%;

        
        font-size: 3em;
        font-weight: 700;

        & strong {
            color: var(--corTextoVerde);
        }
    }

    & p {
        width: 95%;
        font-size: 1em;
        
    }

    & form {
        width: 95%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;

        

            & label {
                width: 100%;
                text-align: left;
                font-weight: 550;
            }

            & input , select {
                width: 100%;
                height: 3em;
                border: 1px solid var(--corBordas);
                border-radius: 5px;
                padding: 0.2em;

                & input::placeholder {
                    color: var(--corTextoCinza);
                }
            }
       

      

        & button {
            width: 300px;
            height: 60px;

            border: 1px solid var(--corBordas);
            border-radius: 5px;
            
            cursor: pointer;

            font-weight: 600;
            font-size: 1.6em;
            color: var(--corTextoBranco);

            background-color: var(--corTextoVerde);

        }
    }

    & .ticket-pagamento-info {
        width: 550px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        border: 1px solid var(--corBordas);
        border-radius: 5px;

        padding: 10px;

        & .info-ticket {
            width: 500px;
            height: 40px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & h3 {
                width: 150px;
                text-align: left;
                font-size: 1.2em;
                font-weight: 600;
                color: var(--corTextoVerde);
            }

            & p {
                width: 300px;
                text-align: right;
                font-size: 1em;
                font-weight: 600;
                color: var(--corTextoCinza);
            }


        }

        & .info-data {
            width: 500px;
            height: 40px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;

            

            & p {
                width: 220px;
                text-align: center;
                font-size: .9em;
                font-weight: 600;
                
                & strong {
                    font-weight: 600;
                }
            }
        }

        & .info-veiculo {
            width: 500px;
            height: 40px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;

            

            & p {
                width: 160px;
                text-align: center;
                font-size: .9em;
                font-weight: 600;
                
                & strong {
                    font-weight: 600;
                }
            }
        }

        & .info-pagamento {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 55px;

            width: 500px;
            height: auto;

            & button {
                width: 130px;

                height: 70px;
                border: 1px solid var(--corBordas);
                border-radius: 5px;
                background-color: var(--corTextoVerde);
                color: var(--corTextoBranco);
                font-size: 1em;
                font-weight: 600;
                cursor: pointer;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;


                & img {
                    width: 40px;
                    height: 40px;

                }
            }
        }

        & .pagamento-pix {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        
            & .qrcode {
                width: 95%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0.5em;
                    

                & img {
                    width: 200px;
                    height: 200px;
                    border: 1px solid var(--corBordas);
                    border-radius: 5px;
                }

                & .botoes-pagamento {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5em;

                    & button {
                        width: 100px;
                        height: 60px;

                        border: 1px solid var(--corBordas);
                        border-radius: 5px;
                        
                        cursor: pointer;

                        font-weight: 600;
                        font-size: 0.8em;
                        color: var(--corTextoBranco);

                        background-color: var(--corTextoVerde);

                    }

                    & #cancelar {
                        background-color: var(--corTextoAmarelo);
                    }
                        
                }
            }
            
        }



    }

     & .menu {
        display: flex;
        flex-direction: row;
        align-items: center;    
        justify-content: center;
        gap: 1em;
        width: 95%;
        min-width: 300px;
        height: auto;
        padding-top: 1em;
        padding-bottom: 1em;

        & button {
            width: 100px;
            height: 50pxpx;

            border: 1px solid var(--corBordas);
            border-radius: 5px;
            
            cursor: pointer;

            font-weight: 600;
            font-size: 0.8em;
            color: var(--corTextoBranco);

            background-color: var(--corTextoVerde);
            padding: 0.5em;

        }
        
    }
}